header.l-header
  h1 Vite Project

section
  p I'm a cool Vite project!
section
  h2 keen-sliderテスト
  #js-slider.keen-slider
    .keen-slider__slide
      img(src="images/image-sample.jpg" alt="sample")
    .keen-slider__slide
      img(src="images/image-sample2.jpg" alt="sample2")
    .keen-slider__slide
      img(src="images/image-sample.jpg" alt="sample")