// メインカラー
$color-brand: #f39800;

// サブカラー
$color-sub-black: #1a1a1a;
$color-sub-gray: #666;
$color-sub-brown: #8e7865;

// 汎用カラー
$color-white: #fff;
$color-gray: #f2f2f2;
$color-lightgray: #f7f7f5;
$color-beige: #eadaca;
$color-brown: #d7c8b9;
$color-black: #000;
$color-orange: #f08800;
$color-red: #ea2828;
$color-link: #00466e;

// ボタン
$color-button: #33b2d8;

// 線
$color-border: #b4b4b4;
